.foto{
    text-align: center;
}

.h1{
    text-align: center;
    color: aqua;
}

body{
    background-color: rgb(2, 9, 32);
}
.li{
    color: aqua;
    display: inline-block;
    margin: 0 16px;
}
header{
    background-color: rgb(2, 9, 32);
    display: flex;

}

.logo{
    width: 10%;
}

.sobre{
    color: aqua;
    text-align: center;
}

.texto{
    color: aqua;
}

*{
    margin: 0;
    padding: 0;
}