.foto{
    text-align: center;
}

.h1{
    text-align: center;
    color: aqua;
}

body{
    background-color: rgb(2, 9, 32);
}
.li{
    color: aqua;
}
header{
    background-color: rgb(2, 9, 32);
}

.logo{
    width: 20%;
}